.view-appointments {
    max-width: 1200px;
    margin: 40px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.view-appointments h1 {
    text-align: center;
    margin-bottom: 20px;
}

.poc-details {
    margin-bottom: 20px;
}

.view-appointments table {
    border-collapse: collapse;
    width: 100%;
}

.view-appointments th,
.view-appointments td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.view-appointments th {
    background-color: #f0f0f0;
}

.view-appointments tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.view-appointments tbody tr:hover {
    background-color: #ddd;
}